body {
    background-color: green
}

#cardMap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 80px auto 10px auto;
    height: 420px;
    width: 360px;
    background-color: white;
    border-radius: 20px;
}

#cardMap > div {
  width: 100%;
  padding: 1rem;
  font-size: 40px;
}


.heartCard {
  color:red;
}

.spadeCard {
  color: black;
}

.diamondCard {
  color:red;
}

.clubCard {
  color: black;
}