body {
    background-color: green
}

.allCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 80px auto 10px auto;
    height: 420px;
    width: 360px;
    background-color: white;
    border-radius: 5px;
}

.heartCard {

}

.spadeCard {

}

.diamondCard {

}

.clubCard {

}
